extends extends/layout

block content
  .soon coming soon
  .section.section_work.off
    .work
      each job, name in config.work
        .job(class='job_' + name)
          .inner.layer(data-depth=0.2)

  script.
    Index.i()
