extends extends/layout

block content
  .fade.off
  .modal.off
    .inner
      .close
        .blades
          .blade
          .blade

      .body
        .copy.copy_title
        .copy.copy_tagline
        .copy.copy_detail

        .links
          a.link.link_url.off(target="_new")
            include ../vector/link.svg
          a.link.link_github.off(target="_new")
            include ../vector/github.svg
        .clear

  .section.section_work.off
    .work
      each job, name in config.work
        .job(class='job_' + name,data-job=name)
          .inner.layer(data-depth=0.05,data-job=name)
            .background.off.layer(data-depth=0.1)
            .thumbnail.on.thumbnail_background
            .logo.off.layer(data-depth=0.2)
            .thumbnail.on.thumbnail_logo
            .title: .copy=job.title
            .loading.on: .full
  .section.section_code.off
    .uc coming soon
  .section.section_resume.off
    .uc coming soon
    .copy
      a.set(href="mailto:kevin@256.io")
        .icon
          include ../vector/email.svg
        .value kevin@256.io
        .clear
      a.set(href="https://github.com/acidjazz",target="_new")
        .icon
          include ../vector/github.svg
        .value github.com/acidjazz
        .clear
      a.set(href="tel:+19492908989",target="_new")
        .icon
          include ../vector/phone.svg
        .value +1 949 290 8989
        .clear


  script.
    Index.i()
