

.contact
  a.set(href="https://github.com/acidjazz",target="_new")
    .icon
      include ../vector/github.svg
    .value github.com/acidjazz
  a.set(href="mailto:kevin@256.io")
    .icon
      include ../vector/email.svg
    .value kevin@256.io
  a.set(href="tel:+19492908989",target="_new")
    .icon
      include ../vector/phone.svg
    .value +1 949 290 8989

.name Kevin Olson
.clear

.content

  .clear

  .subsection
    .title Objective
    .copy To progress as an engineer at a successful organization where my advanced analytical skills, development experience, research content experience and communication skills are needed. 

  .subsection
    .title Experience
    .copy 

      time Sept `14 - Current
      a(href="/") 256 llc
      ul
        li Please refer to the 
          a.text_option.option_work(href="/#work",data-option='work') work
          |  section

      time Sept `13 - Sept `14
      a(href="http://www.rosetta.com",target="_new") Rosetta
      ul
        li Built an Android App for Samsung at SXSW featured on the 
          a(href="https://www.forbes.com/sites/theyec/2013/03/21/5-lessons-for-marketers-from-sxsw-2013/",target="_new") Cover of Forbes Magazine
          ul
            li Used NFC and geofencing to help guide people on a curated treasure hunt around the convention grounds
            li Various prizes unlocked at select vendors using NFC and tracking progress
        li Many other various apps / microsites / SPA's ( most under strict NDA )

      time Sept `10 - Nov `12
      a(href="https://www.isobar.com/us/en/") isobar
      ul
        li Multiple apps and sites for Dolby to help promote their new 
          a(href="https://www.dolby.com/us/en/brands/dolby-atmos.html",target="_new") Dolby Atmos
          |  technology, and also a project with  
          a(href="https://vimeo.com/42661284") Adam West
        li Various projects for Adidas to help promote the 2010 World Cup involving Dwight Howard and Dale Earnhardt Jr.
        li A 
          a(href="http://www.flushanddone.com/multi-flushers-anonymous/",target="_new") Facebook app 
          | for Kohler similar to "elf yourself" to embed custom content in rendered video 

        li Many other Facebook apps, SPA's, mobile apps, micro-sites, and some native iOS and Android apps.

      time Sept `08 - Sept `10
      a(href="https://www.crunchbase.com/organization/k-factor-media-llc",target="_new") K-Factor Media / Facebook 
      ul
        li Built several games on facebook, some full stack and some w/ a flash developer for the front end</li>

      time Aug `08 - Sept `09
      a(href="https://www.crunchbase.com/organization/faniq",target="_new") FanIQ 
      ul
        li Researched and implemented a STATS provider to harness live stats and updates of all the major sports
        li Created a custom interactive advertisement widget to sell merchandise introducing their first line of revenue
        li Implemented an entire back end in-house reporting structure to locally track impressions/clicks/conversion of all merchandise and later tickets to games.
        li Solely wrote a "quick" sports fantasy game from scratch that allows you to bet virtual currency and play for the span of one day to a week at a time
        li Wrote and maintained multiple Facebook games from scratch (FBG)
        li Interfaces to measure Facebook game metrics and view reports of traffic sources / play paths (FBG)

      time Nov `07 - July `08
      a(href="https://hotornot.com",target="_new") Eight Days Inc (Hot or Not) 
      ul
        li Re-wrote the virtual gifts section to include gifts outside of flowers, w/ back-end interfaces to add/remove/change gifts
        li Re-wrote the gift purchasing system to allow multiple gifts/bundles to be purchased at once
        li Implemented a chat system including a bottom chat bar and friends list allowing multiple chats at once (using comet programming)
        li Numerous performance tweaks/improvements

      time Sept `06 - Oct `07
      a(href="https://vinylinteractive.com", target="_new") Vinyl Interactive
      ul
        li Focused on methodology to increase conversation rates from numerous validity checks to User Interface tweaks
        li Wrote a feature-rich publisher interface including the following
          ul
            li Reporting with graphing by Actions, EPC, CTC, and Detailed, allowing you to save custom compiled reports and label them.
            li Customizable summary page where you can choose the type of reports you want to see, allowing any amount.
        li Wrote a series of algorithms to help decide a suitable path of offers based on mining historic data, being specific from particular offer history to the time of day
        li Compiled a demographic engine and interface causing effection to the offer path based on characteristics like sex, age, and education

      time April `05 - Sept `06
      a(href="https://www.fexdms.com/",target="_new") Finance Express
      |  / 
      a(href="https://www.escrow.com/",target="_new") escrow.com
      ul
        li Wrote specs and xml daemons/parsers for every major section for partners, lenders, and dealerships to interact with the interface automatically
        li Re-wrote and added to most of the major sections of the interface, integrating xmlhttp and other javascript/dhtml to ease and improve navigation
        li Converted alot of older sections to more optimized code, removing all found deprecated procedures. Templatizing the look and feel and moving functionality into OO style code, making it easy to plug in XML functionality to most of the major sections
        li Wrote an account management system for Customer Service to help sign up, modify, and remove new clients with alot of trouble shooting utilities

      time March `04 - April `05
      a(href="https://www.usc.edu") University of Southern California
      ul
        li Contract involving the improvement and re-writing of the 
          a(href="https://itservices.usc.edu/unix/") ISD
          |  (Information Services Division)
        li Interfaces for teachers to help easier manage students taking courses online
        li Improved interfaces students used to view classes online, wether live or archived

      time Feb `03 - March `04
      a(href="http://www.condenast.com/",target="_new") CondeNet/Conde Nast
      ul
        li Various contract jobs dealing mostly with back-end web interfaces for various administrative and sales work.
        li Using mostly PHP and XML to communicate with invoice software, compiling and presenting specific invoice-related reports.

      time Oct `99 - Aug `03
      a(href="https://en.wikipedia.org/wiki/Foundstone",target="_new") Foundstone
      |  /  
      a(href="https://mcafee.com",target="_new") McAfee
      ul
        li Composed a web based portable executive dashboard that displayed a wide range of information stored by Foundstone Enterprise
        li Wrote a very complex distributable packaged web interface to a win32 application which communicated via COM/DCOM. (FoundScan 1.0-2.0)
        li Developed and maintained a whole new version of this web interface using a lot more efficient and completely secure communication. (2.6 . 3.0)
        li Wrote an internal interface to update vulnerability information for research and development
        li Wrote a task management application for the IT department so managers could assign tasks to technical and network engineers online. It would compile printer friendly over all statistics for weekly status meetings
        li Developed an inventory application that worked with a bar code scanner to store and keep track of all of the company.s equipment

      time Aug `98 - Oct `99
      a(href="https://www.glassdoor.com/Reviews/Visual-Perspectives-Internet-Inc-Reviews-E140864.htm",target="_new") Visual Perspectives Internet
      ul
        li Wrote and maintained all of the sites for Mary Kate and Ashley Olsen for AOL Time Warner. Compiled a fan club site including circle forums and galleries. Wrote and maintained an online chat room that the twins would answer questions in once a week. Developed their online shopping cart and web based e-mail for fans. All customer input sections were controlled by a modular profanity and language filtering tool
        li www.mary-kateandashley.com, webmail.mary-kateandashley.net, www.herbiesnaturals.com, www.insbop.com, www.cuisinetoyou.net, www.omniexess.com, www.pelicanacc.com, www.onspree.com, www.vpi.net.
        li Built, maintained, and secured all the servers the sites I wrote sat on
        li Monitored, logged, and balanced server utilization - converted databases and daemons to faster and more efficient ones, optimizing bandwidth and performance immensely

      time April `97 - May `98
      a(href="https://unisys.com",target="_new") Unisys 
      |  - Field Technician
      ul
        li Installed Cisco routers and Bay Networks Hubs to all of the high schools of the Santa Ana School District
        li Routing and testing cat5 and fiber optic cables from each classroom to the main router      


