.section
  onoff()
  height calc(100vh - 170px)
  > .uc
    gf(copy2)
    text-align center
    color gc(teal2)
    width 200px
    height 40px
    position absolute
    top 50%
    left 50%
    margin-left -100px
    margin-top -20px

.work
  padding 1vw 
  > .job
    float left
    width 22.5vw
    height 22.5vw
    position relative
    margin 1vw
    overflow hidden
    animation cellInY 0.2s linear 0.3s both
    cursor pointer
    for i in 1..8
      &:nth-child({i})
        animation-delay unit((0.1*i) + 0.3, 's')
    for key, project in config.work
      &.job_{key}
        &:nth-child(odd) > .inner:hover > .title
          opacity 1
          transform translate(0, 10px) rotate(2deg)
          > .copy
            transform translate(0, 0) rotate(-2deg)
            opacity 1
        &:nth-child(even) > .inner:hover > .title
          opacity 1
          transform translate(0, 10px) rotate(-2deg)
          > .copy
            transform translate(0, 0) rotate(2deg)
            opacity 1
        > .inner
          position relative
          width inherit
          height inherit
          overflow hidden
          > .background, > .logo
            position absolute
            fullsize()
          > .background
            background-image url(/images/work/key/background.jpg)
            background-size cover
            background-position 50% 50%
            background-repeat no-repeat
            width 150%
            height 150%
            margin -25% 0 0 -25%
          > .logo
            background-image url(/images/work/key/logo.png)
            background-size contain
            background-position 50% 50%
            background-repeat no-repeat
            width inherit
            height inherit
          > .title
            position absolute
            bottom 0
            left 0
            color gc(white1)
            //background-color rgba(gc(black1), 0.7)
            c = convert(project.color)
            background-color rgba(c, 0.7)
            width 110%
            margin-left -5%
            text-align center
            padding 15px 0 20px 0
            gf(copy1)
            opacity 0
            transform translate(0, 30px) rotate(7deg)
            transition transform 0.1s linear 0s, opacity 0.1s linear 0s
            > .copy
              transform translate(0, 10px)
              transition transform 0.1s linear 0.05s, opacity 0.1s linear 0.05s
              opacity 0


@media all and (min-width: 1px) and (max-width: 1000px)
  .work
    text-align center
    > .job
      width 45vw
      height 45vw
      margin 2vw 
