.soon
  position absolute
  z-index 10
  bottom 10vh
  right 0
  left 0
  text-align center
  color gc(teal2)
  gf(copy2)

.section
  onoff()
  height 100vh

.work
  > .job
    float left
    width 25vw
    height 25vw
    position relative
    overflow hidden
    for key, project in config.work
      &.job_{key}
        background-color: unquote(project.color)
        > .inner
          background-image url(/images/work/key/logo.jpg)
          background-size contain
          background-position 50% 50%
          background-repeat no-repeat
          width inherit
          height inherit

@media all and (min-width: 1px) and (max-width: 1000px)
  .work
    > .job
      float left
      width 50vw
      height 50vw
   
