
@media all and (min-width: 1px) and (max-width: 1000px)
  .work
    text-align center
    > .job
      width 45vw
      height 45vw
      margin 2vw 

  .section.section_contact
    > .copy
      margin 20px
      padding 20px
      gf(copy4)
  .modal
    width 100%
    height 100%
    margin  0
    left 0
    top 0
    > .inner
      top 0
      transform translateY(0)
      height 100%
      > .body
        padding 30px 20px
        > .copy
          padding 0 0 10px 0
          &.copy_title
            margin 0 60px 0 0
          &.copy_tagline
            margin 15px 0 0 0
      > .close
        top 20px
        right 20px

