.section_resume

  > .name
    gf(copy2)
    color gc(teal2)
    margin 20px 0 0 40px
  > .content
    margin 20px 40px
    padding 20px
    background-color gc(black2)
    animation cellIn 0.5s linear 0s both
    animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
    a
      color gc(white2)
      text-decoration none

    > .subsection
      border 1px solid gc(white3)
      margin 20px 10px
      > .title
        background-color gc(white3)
        gf(copy1)
        padding 10px
      > .copy
        padding 20px
        color gc(white3)
        ul
          margin 10px
          padding 0 0 0 20px
          li
            gf(copy1s)
        > time
          gf(copy1s)
          padding 0 10px 0 0

  > .contact
    display none
    gf(h2)
    margin 40px
    padding 40px
    background-color gc(black2)
    animation cellInY 0.5s linear 0s both
    animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
    > .set
      width 420px
      margin 0 auto 20px auto
      &:last-child
        margin auto
      &:hover
        > .icon > svg > path
          fill gc(white1)
          transition fill 0.1s linear 0s
        > .value
          color gc(white1)
      display block
      > .icon
        float left
        width 35px
        height 35px
        padding 15px
        background-color gc(purple1)
        border-radius 50%
        margin 0 15px 0 0
        > svg
          width inherit
          height inherit
          > path
            fill gc(purple3)
      > .value
        float left
        line-height 55px
        color gc(teal2)
        transition color 0.1s linear 0s


