header
  background-color: c.purple2
  padding 20px 40px
  height 100px
  > .inner
    > .logo
      float right
      width 100px
      height 100px
      > .inner
        width 100px
        height 100px
        border-radius 50%
        background-color: c.teal2
        animation logoCircleIn 0.5s ease-in 1s alternate both
        position relative
        cursor pointer
        overflow hidden
        &:hover
          background-color: c.purple2
          > .copy
            color: c.teal2
        > .copy
          font: f.h1
          color: c.purple2
          position absolute
          overflow hidden
          top 20px
          right -2px
          > .letter
            float left
            animation logoTextIn 0.2s ease-in 1.5s alternate both
            &:nth-child(2)
              animation-delay 1.525s
            &:nth-child(3)
              animation-delay 1.55s
    > .info
      margin 10px 20px 0 0
      float right
      text-align right
      color: c.teal2
      > .text
        padding 5px 0

@keyframes logoCircleIn
  from
    margin 50px
    width 0px
    height 0px
  to
    margin 0
    width 100px
    height 100px

@keyframes logoTextIn
  from
    opacity 0
    transform translate(20px, 0)
  to
    opacity 1
    transform translate(0, 0)
