dsize = 350
msize = 200
header
  border-bottom 10px solid gc(teal2)
  background-color gc(purple2)
  height 100vh
  position relative
  z-index 5
  transition height 1s linear
  transition-timing-function: cubic-bezier(.87,-.41,.19,1.44)
  overflow hidden
  &.settled
    height 160px
    > .inner > .logo
      left auto
      right 200px
      transition all 0.4s ease-in-out 0.4s
  > .inner
    > .menu
      width 600px
      height 50px
      margin 80px 0 0 0
      > .option
        float left
        position relative
        width 150px
        height 50px
        transform-style preserve-3d
        transform-origin 100% 115%
        user-select none

        &.on
          transform rotateX(-180deg)
          transition transform 0.5s cubic-bezier(.53,-0.25,.58,1.23) 0s
        &.off
          transform rotateX(0deg)
          transition transform 0.5s cubic-bezier(.53,-0.25,.58,1.23) 0.3s
          &:hover, &:active
            transition transform 0.2s linear 0s
            transform rotateX(10deg)

        &.loading
          animation menuEnter 0.5s ease-in-out 3.0s alternate both
          animation-timing-function cubic-bezier(.87,-.41,.19,1.44)
        &.loading:nth-child(1)
          animation-delay 3.1s
        &.loading:nth-child(2)
          animation-delay 3.3s
        &.loading:nth-child(3)
          animation-delay 3.5s

        > .face
          position absolute
          width inherit
          height inherit
          gf(copy2)
          line-height 52px
          background-color gc(purple2)
          color gc(teal2)
          backface-visibility hidden
          text-align center
          transition color 0.1s linear, background-color 0.1s linear 0.05s
          user-select none
        > .face.front
          transform rotateX(0deg) translate3d(0, 0, 25px)
          cursor pointer
          background-color gc(black1)
        > .face.bottom
          transform rotateX(-90deg) translate3d(0, 0, 25px)
          background-color gc(purple2)
        > .face.top
          transform rotateX(90deg) translate3d(0, 0, 25px)
          background-color gc(black1)
        > .face.back
          transform rotateX(-180deg) translate3d(0, 0, 25px)
          background-color gc(black1)
          color gc(purple2)
          background-color gc(teal2)
        &.loading.option > .face.back
          background-color gc(purple2) !important

    > .logo
      user-select none
      position absolute
      top 50%
      right 50%
      margin-top - unit(dsize/2, px)
      margin-right - unit(dsize/2, px)
      width unit(dsize, px)
      height unit(dsize, px)
      onoff()
      > .inner
        width inherit
        height inherit
        border-radius 50%
        background-color gc(teal2)
        animation logoCircleIn 0.5s ease-in 0.5s alternate both
        animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
        position relative
        cursor pointer
        overflow hidden
        &.offing
          animation logoCircleOut 0.5s ease-in 0s alternate both
          animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
        > .copy
          transition color 0.1s linear
          gf(h1)
          color gc(purple2)
          font-size: unit(dsize/2.5, px)
          transition font-size 0.4s ease-in-out 0.4s, top 0.4s ease-in-out 0.4s
          position absolute
          overflow hidden
          top 20px
          top unit(dsize/3.5, px)
          right - unit(dsize/100, px)
          > .letter
            float left
            animation logoTextIn 0.2s ease-in 1.0s alternate both
            &:nth-child(2)
              animation-delay 1.025s
            &:nth-child(3)
              animation-delay 1.05s
    > .info
      margin 10px 20px 0 0
      float right
      text-align right
      color gc(teal2)
      > .text
        padding 5px 0

@keyframes logoCircleIn
  from
    margin unit(dsize/2, px)
    width 0px
    height 0px
  to
    margin 0
    width inherit
    height inherit

@keyframes logoCircleOut
  from
    width inherit
    height inherit
  to
    width 0px
    height 0px


@keyframes menuEnter
  from
    transform rotateX(90deg)
  to
    transform rotateX(0deg)

@keyframes logoTextIn
  from
    opacity 0
    transform translate(20px, 0)
  to
    opacity 1
    transform translate(0, 0)


@media all and (min-width: 1px) and (max-width: 1000px)
  header.settled
    height 150px
    > .inner
      > .menu
        margin -33px 0 0 -40px
        > .option
          float none
          > .face.top,
          > .face.front
            background-color gc(purple2)

      > .logo
        right 185px
        top 160px
        width unit(msize, px)
        height unit(msize, px)
        > .inner
          > .copy
            font-size unit(msize/2.5, px)
            top unit(msize/3.5, px)
            right - unit(msize/100, px)
