header
  .inner
    .logo
      .inner
        .circle
        .copy 
          if error
            .letter 4
            .letter 0
            .letter 4
          else
            .letter 2
            .letter 5
            .letter 6
    .clear
