header
  .inner

    .menu
      .option.loading.off.option_1(data-option='work')
        figure.face.front work
        figure.face.bottom 
        figure.face.top 
        figure.face.back work
      .option.loading.off.option_2(data-option='code')
        figure.face.front code
        figure.face.bottom 
        figure.face.top 
        figure.face.back code
      .option.loading.off.option_2(data-option='resume')
        figure.face.front resume
        figure.face.bottom 
        figure.face.top 
        figure.face.back resume

    .logo.off
      .inner
        .circle
        .copy 
          if error
            .letter 4
            .letter 0
            .letter 4
          else
            .letter 2
            .letter 5
            .letter 6
    .clear
