header
  .inner
    .logo.off
      .inner
        .circle
        .copy 
          if error
            .letter 4
            .letter 0
            .letter 4
          else
            .letter 2
            .letter 5
            .letter 6

    .menu
      a.option.loading.off.option_work(data-option='work',target='/#work')
        figure.face.front work
        figure.face.bottom 
        figure.face.top 
        figure.face.back work
      a.option.loading.off.option_code(data-option='code',target='/#code')
        figure.face.front code
        figure.face.bottom 
        figure.face.top 
        figure.face.back code
      a.option.loading.off.option_resume(data-option='resume',target='#resume')
        figure.face.front resume
        figure.face.bottom 
        figure.face.top 
        figure.face.back resume

    .clear
