.dbar
  z-index 10
  background-color gc(purple3)
  height 10px
  display none !important

.dbar > .inner > .full
  background-color gc(purple1)

.dbar > .inner > .gradient
  background: linear-gradient(90deg, gc(purple3), rgba(gc(white1),0.2))

dsize = 350
msize = 150
header
  border-bottom 10px solid gc(teal2)
  background-color gc(teal1)
  height 160px
  position relative
  z-index 5
  transition height 1s linear
  transition-timing-function: cubic-bezier(.87,-.41,.19,1.44)
  overflow hidden
  &.settled
    height 150px
    > .inner > .logo
      left auto
      right 200px
      transition all 0.4s ease-in-out 0.4s
  > .inner
    > .menu
      width 600px
      height 50px
      margin 80px 0 0 0
      z-index 10
      position absolute
      > .option
        float left
        position relative
        width 150px
        height 50px
        transform-style preserve-3d
        transform-origin 100% 115%
        user-select none
        -webkit-tap-highlight-color gc(black1)
        tap-highlight-color gc(black1)

        &.on
          transform rotateX(-180deg)
          transition transform 0.5s cubic-bezier(.53,-0.25,.58,1.23) 0s
        &.off
          transform rotateX(0deg)
          transition transform 0.5s cubic-bezier(.53,-0.25,.58,1.23) 0.3s
          &:hover, &:active
            transition transform 0.2s linear 0s
            transform rotateX(10deg)

        &.loading
          transform rotateX(90deg)
        &.loaded
          animation menuEnter 0.5s ease-in-out 0.0s alternate both
          animation-timing-function cubic-bezier(.87,-.41,.19,1.44)
        &.loaded:nth-child(1)
          animation-delay 0.1s
        &.loaded:nth-child(2)
          animation-delay 0.3s
        &.loaded:nth-child(3)
          animation-delay 0.5s

        > .face
          position absolute
          width inherit
          height inherit
          gf(copy2)
          line-height 52px
          background-color gc(teal1)
          color gc(teal2)
          backface-visibility hidden
          text-align center
          transition color 0.1s linear, background-color 0.1s linear 0.05s
          user-select none
        > .face.front
          transform rotateX(0deg) translate3d(0, 0, 25px)
          cursor pointer
          background-color gc(black1)
        > .face.bottom
          transform rotateX(-90deg) translate3d(0, 0, 25px)
          background-color gc(teal1)
        > .face.top
          transform rotateX(90deg) translate3d(0, 0, 25px)
          background-color gc(black1)
        > .face.back
          transform rotateX(-180deg) translate3d(0, 0, 25px)
          background-color gc(black1)
          color gc(teal1)
          background-color gc(teal2)
        &.loaded.option > .face.back
          background-color gc(teal1) !important

    > .logo
      user-select none
      position absolute
      top 80px
      right 200px
      margin-top - unit(dsize/2, px)
      margin-right - unit(dsize/2, px)
      width unit(dsize, px)
      height unit(dsize, px)
      z-index 1
      onoff()
      > .inner
        width inherit
        height inherit
        border-radius 50%
        background-color gc(teal2)
        animation logoCircleIn 0.5s ease-in 0s alternate both
        animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
        position relative
        cursor pointer
        overflow hidden
        &.offing
          animation logoCircleOut 0.5s ease-in 0s alternate both
          animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
        > .copy
          transition color 0.1s linear
          gf(h1)
          color gc(teal1)
          font-size: unit(dsize/2.5, px)
          transition font-size 0.4s ease-in-out 0.4s, top 0.4s ease-in-out 0.4s
          position absolute
          overflow hidden
          top 20px
          top unit(dsize/3.5, px)
          right - unit(dsize/100, px)
          > .letter
            float left
            animation logoTextIn 0.2s ease-in 0.5s alternate both
            &:nth-child(2)
              animation-delay 0.525s
            &:nth-child(3)
              animation-delay 0.55s
    > .info
      margin 10px 20px 0 0
      float right
      text-align right
      color gc(teal2)
      > .text
        padding 5px 0

@keyframes logoCircleIn
  from
    margin unit(dsize/2, px)
    width 0px
    height 0px
  to
    margin 0
    width inherit
    height inherit

@keyframes mlogoCircleIn
  from
    margin unit(msize/2, px)
    width 0px
    height 0px
  to
    margin 0
    width inherit
    height inherit



@keyframes logoCircleOut
  from
    margin 0
    width inherit
    height inherit
  to
    margin unit(dsize/2, px)
    width 0px
    height 0px

@keyframes mlogoCircleOut
  from
    margin 0
    width inherit
    height inherit
  to
    margin unit(msize/2, px)
    width 0px
    height 0px



@keyframes menuEnter
  from
    transform rotateX(90deg)
  to
    transform rotateX(0deg)

@keyframes logoTextIn
  from
    opacity 0
    transform translate(20px, 0)
  to
    opacity 1
    transform translate(0, 0)


@media all and (min-width: 1px) and (max-width: 1000px)
  header, header.settled
    height 100px
    > .inner
      > .menu
        //margin -33px 0 0 -40px
        margin 42px 0 0 -30px
        height 40px
        > .option
          width 100px
          height 40px
          //float none
          transform-origin 100% 100% 
          > .face
            gf(copy1)
            height 40px
            line-height 40px
            //background-color gc(teal1)
          > .face.front
            transform rotateX(0deg) translate3d(0, 0, 20px)
          > .face.bottom
            transform rotateX(-90deg) translate3d(0, 0, 20px)
          > .face.top
            transform rotateX(90deg) translate3d(0, 0, 20px)
          > .face.back
            transform rotateX(-180deg) translate3d(0, 0, 20px)


      > .logo
        right 180px
        top 150px
        width unit(msize, px)
        height unit(msize, px)
        > .inner
          animation mlogoCircleIn 0.5s ease-in 0s alternate both
          animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
          &.offing
            animation mlogoCircleOut 0.5s ease-in 0s alternate both
            animation-timing-function: cubic-bezier(.87,-.41,.19,1.44)
          > .copy
            font-size unit(msize/2.5, px)
            top unit(msize/3.5, px)
            right - unit(msize/100, px)

 /*

@media all and (min-width: 1px) and (max-width: 1000px)
  header.settled
    height 150px
    > .inner
      > .menu
        margin -33px 0 0 -40px
        > .option
          float none
          > .face.top,
          > .face.front
            background-color gc(teal1)

      > .logo
        right 185px
        top 160px
        width unit(msize, px)
        height unit(msize, px)
        > .inner
          > .copy
            font-size unit(msize/2.5, px)
            top unit(msize/3.5, px)
            right - unit(msize/100, px)
*/
