extends inc/layout

block content
  .section
    .title work
    .work
      each job, name in data.work
        .job(class='job_' + name)

  script(type='text/javascript').
    Loader.load('/jst/index.js', 'Index');

